/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "VCR OCD Mono";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/VCR_OSD_MONO_1.001.woff) format("woff"); }

html,
body {
  min-height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  font-family: "VCR OCD Mono";
  font-weight: bold; }

*,
body,
html,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: background-color 0.34s;
  transition: background-color 0.34s;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.5vw 1fr 16.5vw;
  background-color: #f9fefd; }
  .container__nav-top {
    grid-area: 1/1/2/2;
    z-index: 2; }
  .container__content {
    grid-area: 1/1/4/2; }
  .container__nav-bottom {
    grid-area: 3/1/4/2;
    z-index: 2; }
  .container[data-active="yeezy"] [data-nav="yeezy"] {
    color: #000; }
  .container[data-active="yeezy"] .yeezy {
    opacity: 1 !important;
    z-index: 1 !important; }
  .container[data-active="gallery"] [data-nav="gallery"] {
    color: #000; }
  .container[data-active="gallery"] .gallery {
    opacity: 1 !important;
    z-index: 1 !important; }
  .container[data-active="trailer"] [data-nav="trailer"] {
    color: #000; }
  .container[data-active="trailer"] .trailer {
    opacity: 1 !important;
    z-index: 1 !important; }
  .container[data-active="details"] [data-nav="details"] {
    color: #000; }
  .container[data-active="details"] .details {
    opacity: 1 !important;
    z-index: 1 !important; }
  @media (min-width: 599px) {
    .container {
      grid-template-rows: 102px 1fr 102px; } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .container {
      grid-template-rows: 108px 1fr 108px; }
      .container .yeezy {
        z-index: 100 !important;
        opacity: 1; }
      .container .nav {
        display: none; } }

.nav {
  height: 16.5vw;
  padding-left: 5.33vw;
  padding-right: 5.33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__item {
    color: #676666;
    font-size: 4.8vw;
    font-weight: 700;
    letter-spacing: 0.093em;
    text-transform: uppercase;
    -webkit-transition: color 0.35s;
    transition: color 0.35s;
    cursor: pointer;
    height: 100%;
    line-height: 16.5vw; }
    .nav__item:hover {
      color: black; }
  @media (min-width: 599px) {
    .nav {
      height: 102px;
      padding-left: 54px;
      padding-right: 54px; }
      .nav__item {
        font-size: 21px;
        letter-spacing: 1.97px;
        line-height: 114px; } }
  @media (min-width: 1921px) {
    .nav__item {
      font-size: 30px;
      letter-spacing: 1.591px;
      line-height: 114px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .nav {
      height: 108px;
      padding-left: 48px;
      padding-right: 48px; } }

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  overflow: hidden; }
  .content__item {
    grid-area: 1/1/2/2;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .gallery__images {
    max-width: 80vw;
    min-height: 124px;
    height: calc(var(--vh, 1vh) * 18.6);
    position: relative;
    cursor: pointer; }
    .gallery__images[data-img="1"] .gallery__img\--1 {
      opacity: 1 !important;
      z-index: 1 !important;
      -webkit-transition: opacity 0.25s 0.25s linear;
      transition: opacity 0.25s 0.25s linear; }
    .gallery__images[data-img="2"] .gallery__img\--2 {
      opacity: 1 !important;
      z-index: 1 !important;
      -webkit-transition: opacity 0.25s 0.25s linear;
      transition: opacity 0.25s 0.25s linear; }
    .gallery__images[data-img="3"] .gallery__img\--3 {
      opacity: 1 !important;
      z-index: 1 !important;
      -webkit-transition: opacity 0.25s 0.25s linear;
      transition: opacity 0.25s 0.25s linear; }
    .gallery__images[data-img="4"] .gallery__img\--4 {
      opacity: 1 !important;
      z-index: 1 !important;
      -webkit-transition: opacity 0.25s 0.25s linear;
      transition: opacity 0.25s 0.25s linear; }
    .gallery__images[data-img="5"] .gallery__img\--5 {
      opacity: 1 !important;
      z-index: 1 !important;
      -webkit-transition: opacity 0.25s 0.25s linear;
      transition: opacity 0.25s 0.25s linear; }
  .gallery__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
    height: 100%; }
  @media (min-width: 599px) {
    .gallery {
      grid-template-columns: calc(var(--vh, 1vh) * 40); }
      .gallery__images {
        width: 60vw;
        height: calc(var(--vh, 1vh) * 40); } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .gallery__images {
      width: 75vw;
      height: calc(var(--vh, 1vh) * 24); } }

.trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .trailer__video {
    width: 76.5vw;
    height: 43.2vw;
    cursor: pointer; }
  @media (min-width: 599px) {
    .trailer__video {
      width: 69.4vw;
      height: 39vw; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .trailer__video {
      width: 74.7vw;
      height: 42vw; } }

.yeezy {
  position: relative; }

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .details__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .details__item {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 0.07em;
    line-height: 2.233em;
    text-transform: uppercase;
    font-weight: 700; }
  .details__button {
    text-decoration: none;
    color: #676666;
    font-size: 4vw;
    padding: 0.3em 0.7em;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: color 0.35s;
    transition: color 0.35s; }
    .details__button:hover, .details__button:focus {
      color: black; }
  @media (min-width: 599px) {
    .details__item {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 40px; }
    .details__button {
      font-size: 20px;
      margin-top: 20px; } }
  @media (min-width: 1921px) {
    .details__item {
      font-size: 30px;
      letter-spacing: 1.3px;
      line-height: 60px; }
    .details__button {
      font-size: 30px;
      margin-top: 30px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .details__item {
      font-size: 21px;
      letter-spacing: 1.05px;
      line-height: 40px; }
    .details__button {
      font-size: 21px;
      letter-spacing: 1.05px; } }

.canvas {
  width: 100%;
  height: 100%;
  z-index: 1; }

.loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  height: 10vh; }
  .loading__img {
    height: 100%; }
  @media (min-width: 599px) {
    .loading {
      height: 20vh;
      max-height: 500px; } }


/*# sourceMappingURL=main.css.map*/