html,
body {
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

$desktop: 768px;
$padding: 5vw;


$fluid: 2;