@font-face {
    font-family: 'VCR OCD Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}


html,
body {
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'VCR OCD Mono';
    font-weight: bold;
}

$desktop: 599px;
$mobilePadding: 5.33vw;
$padding: 44px;