.container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: background-color 0.34s;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.5vw 1fr 16.5vw;
  background-color: $background-color;

  &__nav-top {
    grid-area: 1/1/2/2;
    z-index: 2;
  }

  &__content {
    grid-area: 1/1/4/2;
  }

  &__nav-bottom {
    grid-area: 3/1/4/2;
    z-index: 2;
  }

  @each $el in yeezy, gallery, trailer, details {
    &[data-active="#{$el}"] [data-nav="#{$el}"] {
      color: #000;
    }

    &[data-active="#{$el}"] .#{$el} {
      opacity: 1 !important;
      z-index: 1 !important;
    }
  }

  @media (min-width: $desktop) {
    grid-template-rows: 102px 1fr 102px;
  }

  @media only screen and (max-width: 767px) and (orientation: landscape) {
    grid-template-rows: 108px 1fr 108px;

    .yeezy {
      z-index: 100 !important;
      opacity: 1;
    }

    .nav {
      display: none;
    }
  }
}
