.details {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 0.07em;
    line-height: 2.233em;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__button {
    text-decoration: none;
    color: #676666;
    font-size: 4vw;
    padding: 0.3em 0.7em;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: color 0.35s;

    &:hover,
    &:focus {
      color: black;
    }
  }

  @media (min-width: $desktop) {
    &__item {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 40px;
    }

    &__button {
      font-size: 20px;
      margin-top: 20px;
    }
  }

  @media (min-width: $big-desktop) {
    &__item {
      font-size: 30px;
      letter-spacing: 1.3px;
      line-height: 60px;
    }

    &__button {
      font-size: 30px;
      margin-top: 30px;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    &__item {
      font-size: 21px;
      letter-spacing: 1.05px;
      line-height: 40px;
    }

    &__button {
      font-size: 21px;
      letter-spacing: 1.05px;
    }
  }
}
