.details {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 68.2%;

    }

    &__name {
        font-size: 4vw;
        letter-spacing: 0.044em;
        line-height: 1.333333em;
        text-transform: uppercase;
        padding-bottom: 1em;
        text-align: center;
    }

    &__text {
        font-size: 4vw;
        letter-spacing: 0.044em;
        line-height: 1.333333em;
        text-align: center;
        font-weight: normal;
    }

    @media(min-width: $desktop) {
        &__content {
            width: 67vw;
        }

        &__name {
            font-size: 23px;
            letter-spacing: 1.11px;
            line-height: 35px;
        }

        &__text {
            font-size: 25px;
            letter-spacing: 1.11px;
            line-height: 35px;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        &__content {
            width: 530px;
        }
    }
}