.gallery {
    display: flex;
    align-items: center;
    justify-content: center;


    &__images {

        max-width: 80vw;
        min-height: 124px;
        height: calc(var(--vh, 1vh) * 18.6);
        position: relative;
        cursor: pointer;
        // display: grid;
        // grid-template-columns: calc(var(--vh, 1vh) * 18.6);
        // grid-template-rows: 1fr;


        @for $i from 1 through 5 {
            &[data-img="#{$i}"] .gallery__img\--#{$i} {
                opacity: 1 !important;
                z-index: 1 !important;
            }
        }
    }

    &__img {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        // grid-area: 1/1/2/2;
        // // align-self: center;
        // justify-self: stretch;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.25s linear;
        height: 100%;
    }



    @media(min-width: $desktop) {
        grid-template-columns: calc(var(--vh, 1vh) * 40);

        &__images {
            width: 60vw;
            height: calc(var(--vh, 1vh) * 40);
        }

    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        &__images {
            width: 75vw;
            height: calc(var(--vh, 1vh) * 24);
        }
    }

}