.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 20px;

    &__dot {
        width: 5vw;
        height: 5vw;
        max-width: 30px;
        max-height: 30px;
        display: inline-block;
        background-color: black;
        margin-left: 1vw;
        margin-right: 1vw;
        opacity: 0;
        animation: showHideDot 2.5s ease-in-out infinite;

        &\--one {
            animation-delay: 0.2s;
        }

        &\--two {
            animation-delay: 0.4s;
        }

        &\--three {
            animation-delay: 0.6s;
        }
    }
}

@keyframes showHideDot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}