.loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-items: center;
  height: 10vh;

  &__img {
    height: 100%;
  }

  @media (min-width: $desktop) {
    height: 20vh;
    max-height: 500px;
  }
}
