.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 60%;
    max-width: 400px;
    height: 5vw;
    max-height: 20px;
    color: black;

    &__percent {
        font-size: 21px;
        line-height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }


    &__bar {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 5px;
        background-color: #42404075;
    }

    &__progress {
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(73, 89, 160);
        border-radius: 5px;
    }

}