.nav {
    height: 16.5vw;
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
    display: flex;
    justify-content: space-between;

    align-items: center;

    &__item {
        color: #676666;
        font-size: 4.8vw;
        font-weight: 700;
        letter-spacing: 0.093em;
        text-transform: uppercase;
        transition: color 0.35s;
        cursor: pointer;
        height: 100%;
        line-height: 16.5vw;

        &:hover {
            color: black;
        }
    }

    @media(min-width: $desktop) {
        height: 102px;
        padding-left: $padding;
        padding-right: $padding;

        &__item {
            font-size: 21px;
            letter-spacing: 1.97px;
            line-height: 114px;
        }

    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        height: 108px;
        padding-left: 48px;
        padding-right: 48px;
    }
}