.purchase {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__images {

        width: auto;
        height: 28.26vw;
        position: relative;
        cursor: pointer;
        width: 100%;


        @for $i from 1 through 3 {
            &[data-img="#{$i}"] .purchase__img\--#{$i} {
                opacity: 1 !important;
                z-index: 1 !important;
            }
        }
    }

    &__img {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: all 0.35s;
        width: auto;
        height: 100%;
    }

    &__name {
        font-size: 4vw;
        letter-spacing: 0.044em;
        line-height: 2.6666em;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 1.8em;
        padding-bottom: 0.8em;
        text-align: center;
    }

    &__details {
        width: 80%;
    }

    &__details-item {
        text-align: center;
        font-size: 4vw;
        letter-spacing: 0.05em;
        line-height: 1.53em;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__button {
        text-decoration: none;
        color: white;
        font-size: 4vw;
        padding: 0.7em 1em;
        display: inline-block;
        margin-top: 1.6em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: black;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media(min-width: $desktop) {
        &__images {

            min-height: 170px;
            height: 12.44vw;
        }

        &__name {
            // font-size: 3vw;
            // letter-spacing: 0.037em;
            // line-height: 1.739em;
            margin-top: 40px;
            font-size: 23px;
            letter-spacing: 0.85px;
            line-height: 40px;
        }

        &__details {
            width: 100%;
        }

        &__details-item {

            font-size: 20px;
            letter-spacing: 1px;
            line-height: 40px;
        }

        &__button {
            font-size: 20px;
            margin-top: 20px;
        }

    }

}