.trailer {
    display: flex;
    align-items: center;
    justify-content: center;

    &__video {
        width: 76.5vw;
        height: 43.2vw;
        cursor: pointer;
    }

    @media(min-width: $desktop) {
        &__video {
            width: 69.4vw;
            height: 39vw;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        &__video {
            width: 74.7vw;
            height: 0.42vw;
        }
    }


}